body {
  margin-top: 8rem;
}
nav.navbar .navbar-btn {
  min-width: 150px;
}
#user-control-wrapper {
  margin-top: 1em;
}
.signature-box {
  border-bottom: 1px solid black;
  min-height: 3rem;
  margin-top: 2rem;
}
.signature-box .placeholder {
  color: #999999;
  font-style: italic;
}
.angular-google-map-container { min-height: 400px;}

@media print {
  .signature-box .placeholder {
    display: none;
  }
  img {
    max-width: none !important;
  }
  body {
    margin-top: 0;
  }
}

.markerLabels {
  background-color: white;
  opacity: 0.7;
  padding: 1px;
  text-align: center;
}

