body {
  margin-top: 8rem;
}
#button-control-wrapper {
  margin-bottom: 1em;
  text-align: right;
}
#user-control-wrapper {
  margin-top: 1em;
}
.signature-box {
  border-bottom: 1px solid black;
  min-height: 3rem;
  margin-top: 2rem;
}
.signature-box .placeholder {
  color: #999999;
  font-style: italic;
}
.angular-google-map-container { min-height: 400px;}

@media print {
  .signature-box .placeholder {
    display: none;
  }
  img {
    max-width: none !important;
  }
  body {
    margin-top: 0;
  }
}